<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your Applications - SecureStack</title>
    <link rel="stylesheet" th:href="@{/global.css}">

    <!-- Favicon -->
    <link rel="icon" href="/images/securestack-magpie-16x16.png" type="image/png" sizes="16x16" />
    <link rel="icon" href="/images/securestack-magpie-32x32.png" type="image/png" sizes="32x32" />
    <link rel="icon" href="/images/securestack-magpie-256x256.png" type="image/png" sizes="256x256" />
    <!-- //Favicon -->
</head>
<body>
<h1>Your Applications</h1>

<!-- Actions -->
    <p>
    <a href="/dashboard">← Dashboard</a>
    &middot;
    <a href="/apps/create">+ Add App</a>
    </p>
<!-- //Actions -->

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Dependencies</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="app : ${apps}">
        <td th:text="${app.name}">App Name</td>
        <td th:text="${app.team.name}">Team Name</td>
        <td th:text="${#lists.size(app.dependencies)}">0</td>
        <td>
            <a th:href="@{/apps/{id}(id=${app.id})}">View</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
